.box {
  display: grid;
  border: 2px solid var(--secondary-color);
  grid-template-columns: 100px 3fr;
  padding: 20px;
  border-radius: 5px;
  column-gap: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
  box-sizing: border-box;
}

.box:hover {
  background-color: #f5f5f5;
}

.cardImg {
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.cardImg img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.cardImg p {
  border-radius: 3px;
  height: 156px;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImg img {
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
}

.box span,
.datalabel {
  font-weight: 700;
  margin-right: 5px;
}

textarea {
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  resize: none;
  padding: 10px;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.comment {
  margin-top: auto;
}

.comment p {
  border-bottom: 1px solid var(--tertiary-color);
  align-self: start;
}

.comment p:hover {
  border-bottom: 2px solid var(--tertiary-color);
}

.comment div {
  display: flex;
  justify-content: space-between;
}

.commentNumber {
  font-weight: 700;
  margin-left: 3px;
  color: var(--main-color);
  font-size: 11px;
  margin-top: 2px;
}

.dataMid {
  margin: 15px 0;
}
