.books {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.main {
  width: 100%;
}

.main h2 {
  width: 100%;
  color: var(--main-color);
  margin: -5px 0 0;
}

.category {
  display: block;
}

.hide {
  display: none;
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  /* border-bottom: 1px solid var(--secondary-color); */
  margin-bottom: 30px;
}

.booksContainer:last-child {
  border-bottom: none;
}

h3 {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  .books {
    flex-wrap: wrap;
  }
}
