.cardImg {
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  height: 190px;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-weight: 700;
  transition: all 0.5s;
}

.cardImg:hover {
  transform: scale(1.05);
}

.cardImg img {
  width: 100%;
  object-fit: cover;
  border: 1px solid var(--secondary-color);
}

.cardInfo p {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardInfo p:first-child {
  font-weight: 700;
  margin-top: 8px;
}
p:nth-child(2) {
  margin-bottom: 5px;
}

.cardImg p {
  font-size: 14px;
  margin: auto;
}
