.card {
  flex: 1 0 120px;
  margin: 0 8px 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  max-width: 120px;
}

.star {
  margin-top: 5px;
}

.cardImg {
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 3px;
  height: auto;
  display: flex;
}

.cardImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}

.cardInfo {
  width: 120px;
}

.cardInfo p:first-child {
  margin-top: 10px;
  font-weight: 700;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: white;
}
.cardInfo p:nth-child(2) {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: white;
}

@media (max-width: 900px) {
  .card {
    max-width: 230px;
  }
}
