header {
  font-weight: 700;
  margin-bottom: 60px;
  width: 100%;
}

.headerContainer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer:after,
.headerContainerNotLoggedIn:after {
  content: "";
  height: 60px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  z-index: -1000;
}

.headerContainerNotLoggedIn {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.logo span {
  font-weight: 700;
}

.nav {
  display: flex;
}

.navMobile {
  display: flex;
}

.headerContainer .navItem li {
  margin-left: 60px;
  color: #fff;
}

.nav .active,
.navMobile .active {
  color: var(--tertiary-color);
  margin-left: 60px;
  border-bottom: 3px solid var(--tertiary-color);
}

.line {
  width: 28px;
  height: 4px;
  border-radius: 2px;
  margin: 3px 0;
  background-color: #fff;
}

.hamburger {
  display: none;
  transition: 0.5s;
  z-index: 100;
}

.cross {
  display: none;
  transition: 0.5s;
  z-index: 100;
}

@media (max-width: 700px) {
  header {
    margin-bottom: 30px;
  }

  .nav {
    display: none;
  }

  .navMobile {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    padding-top: 100px;
    flex-direction: column;
    z-index: 10;
  }

  .navMobile li {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .navMobile .active {
    color: var(--main-color);
    margin-left: 0;
    border-bottom: none;
  }

  .hamburger {
    display: block;
  }

  .cross {
    display: block;
  }

  .cross .line:nth-child(2) {
    display: none;
  }

  .cross .line:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10px 0px;
    background-color: var(--main-color);
  }

  .cross .line:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 7px 2px;
    background-color: var(--main-color);
  }

  .headerContainer .navItem li {
    margin-left: 0px;
  }
}
