.loginForm h1 {
  margin-bottom: 20px;
  margin-left: 5px;
}

.loginForm {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  /* margin-top: 100px; */
  padding: 30px 20px 30px;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 30px;
  justify-content: flex-end;
  margin: 0 5px 30px;
  position: relative;
}

.loginInput input {
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.loginInput input[type="text"] {
  font-family: "Poppins", sans-serif;
}

.loginInput label {
  margin-bottom: 5px;
}

.loginInput button {
  width: 100px;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
}

.error-text {
  color: #b40e0e;
  position: absolute;
  top: 70px;
  font-size: 13px;
}

.invalid input {
  border: 1px solid #b40e0e;
  /* background-color: #ef9a9a; */
}

.invalid input:focus {
  border-color: #b40e0e;
  /* background-color: #ef9a9a; */
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #757474;
  border-color: ccc;
  cursor: not-allowed;
}

.alreadyMember {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.alreadyMember p {
  padding: 10px 10px 0 0;
}
.login {
  border-bottom: 1px solid;
  margin-left: 10px;
  cursor: pointer;
}
.login:hover {
  font-weight: 700;
  border-bottom: 2px solid;
}

@media (max-width: 900px) {
  .loginForm {
    width: 100%;
    display: block;
  }
}
