.books {
  width: 100%;
}

.form {
  background-color: var(--secondary-color);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin-bottom: 40px;
}

.form form {
  display: flex;
  width: 80%;
  justify-self: end;
}

.form input {
  margin-right: 10px;
}

.categories {
  text-transform: uppercase;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, auto);
  align-content: flex-start;
  color: var(--tertiary-color);
  margin-top: 8px;
}

.categories p {
  font-size: 11px;
  font-weight: 300;
  color: var(--tertiary-color);
}

.categories span {
  font-weight: 700;
  margin-left: 5px;
  color: var(--main-color);
}

.booksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
}

.slogan {
  height: 220px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.hide {
  display: none;
}

.slogan h1 {
  position: absolute;
  font-weight: 300;
  line-height: 52px;
  font-size: 45px;
  letter-spacing: 1px;
  color: #fff;
  left: 50%;
  top: 70px;
  transform: translate(-50%, 0);
}

.slogan img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0 20px 20px;
    margin-bottom: 0px;
  }

  .categories {
    width: 100%;
    grid-template-columns: repeat(1, auto);
    margin: 20px 0;
    text-align: center;
  }

  .form {
    margin-bottom: 20px;
  }

  .form form {
    width: 100%;
  }

  .slogan {
    margin-top: 20px;
    height: 120px;
  }

  .slogan h1 {
    font-size: 45px;
    text-align: center;
    left: 20%;
    top: 10%;
    transform: translate(-10%, 0);
  }
}
